{
  "branches": [
    "main",
    { "name": "beta", "prerelease": true},
    { "name": "test-*", "prerelease": true}
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/npm", {
      "pkgRoot": "dist/packages/nx-forge"
    }],
    ["@semantic-release/github", {
      "successComment": false,
      "failTitle": false
    }]
  ],
  "preset": "angular"
}
