name: Release
on:
  push:
    branches:
      - main
      - 'test-*'
      - 'beta'
    paths-ignore:
      - 'docs/**'
  workflow_dispatch:

permissions:
  id-token: write # to enable use of OIDC for trusted publishing and npm provenance
  contents: read # to be able to publish a GitHub release

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout [main]
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        name: Setup Node.js
        with:
          node-version: 'lts/-1'
      - name: 'Create E2E env file'
        run: |
          echo FORGE_EMAIL=${{ secrets.FORGE_EMAIL }} >> e2e/nx-forge-e2e/.env
          echo FORGE_API_TOKEN=${{ secrets.FORGE_API_TOKEN }} >> e2e/nx-forge-e2e/.env
          echo ATLASSIAN_PRODUCT=${{ vars.ATLASSIAN_PRODUCT }} >> e2e/nx-forge-e2e/.env
          echo ATLASSIAN_SITE_URL=${{ vars.ATLASSIAN_SITE_URL }} >> e2e/nx-forge-e2e/.env
      - name: Install dependencies
        run: npm ci
      - name: Build and test
        run: |
          rm -rf dist
          npx nx run nx-forge:build
          npx nx run nx-forge:test
          npx nx run nx-forge-e2e:e2e
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
